@charset "utf-8";
*{margin: 0; box-sizing: border-box;}
ul,li,ol {list-style: none; padding: 0; margin: 0;}
a {text-decoration: none; color: #000; cursor: pointer;}
i {margin: 0 0 0 2px; }


#wrap {width: 100%; height: auto; margin: 0 auto; }



/*ν—¤λ”*/


#top_head  {width: 1000px; height: 150px; margin: 0 auto; }
#top_head >.top_box { width: 100%; height: 30px; display: flex; justify-content: space-between; font-size: 11px; align-items: center;}

#top_head >.top_box > ul > li {float: left; padding: 0 12px 0 0;}

#top_head >.top_box > .store > li:first-child span {background-color: #ccc; padding: 2px 10px; font-weight: bold; color: #fff;}

#top_head >.top_box > .store > li:hover {text-decoration: underline;}
#top_head >.top_box > .store > li > a:hover {color: #3c5fdf;}


#top_head >.top_box > .login > li {margin: 4px 0 0 0;}
#top_head >.top_box > .login > li:first-child {border: 1px solid #eee; padding:4px; margin:0 8px 0 0; }
#top_head >.top_box > .login > li:hover {text-decoration: underline;}
#top_head >.top_box > .login > li > a:hover {color: #3c5fdf;}
#top_head >.top_box > .login > li > a > i {font-size: 16px;}

#top_head >.top_box2 {display: flex; align-items: flex-end;}
#top_head >.top_box2 > #logo {width: 200px; height: 80px; margin: 30px 0 0 0;}

#top_head >.top_box2 >.search {width: 500px; height: 80px;  margin: 0 30px 10px 70px;}
#top_head >.top_box2 >.search > .main_s_top {width: 470px; height: 30px; font-size: 12px; margin: 0 auto; }
#top_head >.top_box2 >.search > .main_s_top > ul > li {float: left; padding: 7px 5px;}
#top_head >.top_box2 >.search > .main_s_top > .btn_left > a > img {margin: 7px 0 0 23px; }
#top_head >.top_box2 >.search > .main_s_top > .btn_right > a > img {margin: 7px 0 0 0; float: right;}

#top_head >.top_box2 >.search > #main_search {width: 500px; height: 45px; border: 2px solid #5e6b9e; border-radius: 40px; padding: 0 20px;}

#top_head >.top_box2 >.sub_ad {width: 230px; height: 90px; }

#top_head >.top_box2 >.sub_ad > ul > li:not(:first-child) {display: none;}
#top_head >.top_box2 >.sub_ad > .list_nav {float: right; width: 20%; height: 20px; }

.list_nav >.btn_left > a > img {margin: 0 0 0 13px;}
.list_nav >.btn_right > a > img {float: right;}



nav {width: 100%; height: 50px; background-color: #5e6b9e; margin: 0 auto;}
nav >.nav_box {margin: 0 auto; width: 1000px; display: flex; }
nav >.nav_box > .menu_icon {background-color: #353f67; width: 50px; height: 50px; }
nav >.nav_box > .menu_icon > a > i {color: #fff; padding:13px; font-size: 24px;} 

nav >.nav_box > .main_menu {font-size: 15px; font-weight: bold;  width:70%; position: relative; }
nav >.nav_box > .main_menu > li { float: left; margin: 18px 0 0 0;   }
nav >.nav_box > .main_menu > li > a { padding: 15px; }

nav >.nav_box > .main_menu > li > .main_s_menu { margin: 18px 0 0 0; text-align: center; background-color: #fff;  position: absolute; top: 33px; z-index: 4; display: none;}
nav >.nav_box > .main_menu > li > .main_s_menu > li {padding: 10px; font-size: 13px;}

nav >.nav_box > .main_menu > li > a > i {color: #d8dbe8; font-size: 12px;}

nav >.nav_box >.sub_menu {font-size: 13px;  font-weight: bold;}
nav >.nav_box >.sub_menu > li {padding: 18px 5px; float: left; }
nav >.nav_box >.sub_menu > li > a {color: #d8dbe8;} 
nav >.nav_box >.sub_menu > li:hover {text-decoration: underline;}



nav >.nav_box > ul > li > a {color: #fff;}










/*ν‘Έν„°*/

footer {width: 100%; height: 280px; background-color: #eee;}

#info {width: 100%; height: 50px; background-color: #666;}
.footer_wrap {width: 1000px; height: auto; margin: 0 auto; display: flex; }

.footer_wrap > .info_list {margin: 0 10px ; width: 83%; }
.footer_wrap > .info_list > li {font-size: 12px; float: left; padding: 18px 7px; color: #fff;}
.footer_wrap > .info_list > li > a {color: #fff;}
.footer_wrap > .info_list > li > a:hover {text-decoration: underline;}
.footer_wrap > .footer_list {width: 18%; height: 100%; background-color: #6d6d6d;}
.footer_wrap > .footer_list > h3 {margin: 18px 0; font-size: 14px; text-align: center; color: #fff;}


.footer_wrap > .f1 { width: 500px; height: 230px; padding: 30px 10px; }
.footer_wrap > .f1 > address {font-style: normal; margin: 20px 0; line-height: 20px; font-size: 12px;}

.footer_wrap > .f2 { width: 500px; height: 230px; padding: 70px 10px 0 10px; }
.footer_wrap > .f2 > p {font-size: 12px; line-height: 20px;}
.footer_wrap > .f2 > .fbox {display: flex; margin: 20px 0 0 0; font-size: 12px;}
.footer_wrap > .f2 > .fbox > p {padding: 0 10px; line-height: 20px;}