@charset "utf-8";


@media(min-width:1260px){


	#wrap {width:100%;}
	header { width:100%; height: 100vh; margin:0 auto; background:radial-gradient(rgba(5, 5, 20, 0.7), rgba(5, 5, 20, 0.7)), url("../img/header.jpg"); background-size:cover; background-repeat: no-repeat; background-position: center; }
	#top {background: linear-gradient(black, transparent); width:1260px; height:120px; margin: 0 auto; line-height: 60px; display: flex; justify-content: space-around; align-items: center;}
	#logo > h1 > a {color:#fff; text-decoration: none; font-size: 40px; font-family: 'Great Vibes', cursive;}

	#top > i {font-size:25px; color:#fff; cursor:pointer; display:none;}
	.main_menu {display: flex;}
	.main_menu > li {padding: 20px; }
	.main_menu > li > a {text-decoration: none; color:#fff; font-size: 14px;  }
	.main_menu > li > a:hover {color:#dba94b; text-decoration: none;}
	.main_menu > li:nth-child(1) > a {color:#dba94b;}
	.main_menu > li:nth-child(5) > a {border:1px solid #dba94b; padding:7px 20px; border-radius:10px; }

	.sub_menu { position: absolute; top: 80px; width: 100px; height: 180px;}
	.sub_menu > li {color: #666; padding: 0 10px;}
	.sub_menu > li:hover {background-color: #999; color: #fff;}



	header >.box1 {width:1000px; height:800px; margin:0 auto; display: flex; flex-direction: column; align-items:center;}
	.box1 >.a {width:130px; height:130px; margin:100px 0 0 0;}
	.box1 > h1 {font-size:80px; text-align:center; float:left;  width:600px; height:150px; color:#fff; font-family: Georgia,Times,"Times New Roman",serif; font-weight: bold;}
	.box1 > h1 > span{font-size:30px; color:#dba94b; font-family: 'Great Vibes', cursive; font-size: 50px; font-weight: normal;}
	.button1 {background-color:transparent; padding:15px 40px; border-radius:5px; border:2px solid #dba94b; color:#fff; font-size:16px;}
	.button1:hover {background-color:#dba94b; color:#fff;}




	#slider { width:100%; height:600px; margin:0 auto;}
	#slider >.box2 {width:1260px; height:600px; margin:0 auto; }
	.box2 >.tbox {width:1260px; height:200px; margin:0 auto; display: flex; flex-direction:column; justify-content: flex-end; align-items:center;}
	.box2 >.tbox >.pattern {width:120px; height:30px; }
	.box2 >.tbox >.pattern > img {width:120px; height:30px;}
	.box2 >.tbox > h3 {text-align:center; font-size:34px; float:left; line-height:45px; font-family: Georgia,Times,"Times New Roman",serif; font-weight: bold;}
	.box2 >.tbox > h3 > span {font-size:22px; color:#dba94b; font-family: 'Great Vibes', cursive; font-size:32px; font-weight: normal;}
	.box2 >.span1 {float:left; width:450px; height:100px; font-size:16px; margin:50px 50px 0 160px; line-height:24px; }
	.box2 >.span2 {float:left; width:450px; height:100px; font-size:16px; margin:50px 0 0 0; line-height:24px;  }
	.button2 {background-color:#dba94b; padding:15px 30px; float:left; margin:80px 0 0 560px; border-radius:5px; border:none; color:#fff;  font-family: Georgia,Times,"Times New Roman",serif;  }
	.button2:hover {background-color:#212435; color:#fff;}


	section {width:100%; height:6330px; margin:0 auto;}


	.content1 {width:100%; height:1200px; margin:0 auto; background-color:#fff9ee;}
	.content1 >.box3 { width:1260px; height:1200px; margin:0 auto;}
	.content1 >.box3 >.tbox {width:1260px; height:300px; margin:0 auto; display: flex; flex-direction:column; justify-content: flex-end; align-items:center;}
	.content1 >.box3 >.tbox >.pattern {width:120px; height:30px; }
	.content1 >.box3 >.tbox >.pattern > img {width:120px; height:30px;}
	.content1 >.box3 >.tbox > h3 {text-align:center; font-size:34px; float:left; line-height:45px; font-family: Georgia,Times,"Times New Roman",serif; font-weight: bold;}
	.content1 >.box3 >.tbox > h3 > span {font-size:22px; color:#dba94b; font-family: 'Great Vibes', cursive; font-size:32px; font-weight: normal;}
	.content1 >.box3 >.tbox > p {font-size:14px;  text-align:center; margin:10px 0 30px 0; }

	.content1 >.box3 > #imgbox {margin:0 auto; width:1200px; height:730px; display: flex; flex-direction: row; justify-content:center; align-items: center;}
	.content1 >.box3 > #imgbox >.image {width:350px; height:350px;  border-radius:5px; display: flex; flex-direction: column; margin:0 1%;}
	.content1 >.box3 > #imgbox >.image > a > img {width:100%; height:100%; }
	.content1 >.box3 > #imgbox >.image >.textbox {position: relative; bottom: 70px; display: flex;  font-family: Georgia,Times,"Times New Roman",serif; }
	.content1 >.box3 > #imgbox >.image >.textbox > h3 {font-size: 16px; width:250px; height: 50px; background-color:#212435; padding:15px 20px; color:#dba94b;}
	.content1 >.box3 > #imgbox >.image >.textbox > span {width: 60px; height: 50px; background-color:#dba94b; padding:14px; color:#fff; font-weight:bold; font-size: 14px; }



	.content2 {width:100%; height:400px; margin:0 auto; background:radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/background2.jpg") fixed; background-size:cover;  background-position: center center; }
	.content2 >.box3 {width:1260px; height:400px; margin:0 auto; display:flex; flex-direction:row; justify-content:center; align-items:center;  }
	.content2 >.box3 >.textbox { width:250px; height:250px; float:left; border-right:1px solid #dba94b; border-bottom: none;  display: flex; flex-direction: column; text-align: center;}
	.content2 >.box3 >.textbox > h3 {font-size:44px; color:#dba94b; margin:15px; padding:20px; font-family: Georgia,Times,"Times New Roman",serif; font-weight: bold;}
	.content2 >.box3 >.textbox >.pattern {width:120px; height:25px; margin:0 auto; }
	.content2 >.box3 >.textbox >.pattern > img {width:120px; height:25px;}
	.content2 >.box3 >.textbox > p {margin:15px; color:#fff; padding:20px; }



	.content3 {width:100%; height:960px; margin:0 auto; background-image:url("../img/texture1.png"); }
	.content3 >.box4 { width:1260px; height:960px; margin:0 auto;}
	.content3 >.box4 >.tbox {width:1260px; height:300px; margin:0 auto; display: flex; flex-direction:column; justify-content: flex-end; align-items:center;}
	.content3 >.box4 >.tbox >.pattern {width:120px; height:30px; }
	.content3 >.box4 >.tbox >.pattern > img {width:120px; height:30px;}
	.content3 >.box4 >.tbox > h3 {text-align:center; font-size:34px; float:left; line-height:45px; font-family: Georgia,Times,"Times New Roman",serif; font-weight: bold;}
	.content3 >.box4 >.tbox > h3 > span {font-size:22px; color:#dba94b; font-family: 'Great Vibes', cursive; font-size:32px; font-weight: normal;}
	.content3 >.box4 >.tbox > p {font-size:14px;  text-align:center; margin:10px 0 30px 0;}


	.content3 >.box4 >.btn_space {width: 100%; height: 10%; display:flex; flex-direction: row; justify-content: center; align-items: center; }
	.button3 {background-color:#dba94b; width:220px; height: 50px; float:left; border-radius:5px;  color:#fff; margin: 0 10px; text-align: center; line-height: 50px;}
	.button3 > a {text-decoration: none; color:#fff; }

	.button3:first-of-type {background-color:#212435;}


	.content3 >.box4 >.small > a {background-color:#fff; width:1200px; height:120px; margin:20px 0 0 30px; float:left; border-radius:3px; border:1px solid #ccc; display: flex; align-content: center; text-decoration: none;}


	.content3 >.box4 >.small > a >.photo {width:130px; height: 100%; border-radius:3px; }
	.content3 >.box4 >.small > a >.photo > img {width:100%; height:100%; }
	.content3 >.box4 >.small > a >.text {display: flex; flex-direction: column; justify-content: center; align-items:flex-start; padding:20px; width:90%;  font-family: Georgia,Times,"Times New Roman",serif; }
	.content3 >.box4 >.small > a >.text > span {border-radius:5px; padding: 5px 12px; font-size: 10px; background-color: #ddd; letter-spacing: 1px; margin:5px 0 0 0; color:#666;}
	.content3 >.box4 >.small > a >.text > h3 {color:#dba94b; font-size: 18px; margin:8px 0 5px 0;}
	.content3 >.box4 >.small > a >.text > p {color:gray;}
	.content3 >.box4 >.small > a >.s1 {text-align: center; width:100px; height: 100px; border-left:2px solid #ddd; margin:8px 0; line-height: 100px; font-size: 18px; color:#dba94b;  font-family: Georgia,Times,"Times New Roman",serif; }

	.content4 {width:100%; height:530px; margin:0 auto; background:radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/background3.jpg") fixed; background-size:cover;  background-position: center center; }
	.content4 >.box5 {width:1260px; height:280px; margin:0 auto;}
	.box5 >.tbox {width:1260px; height:200px; margin:0 auto; display: flex; flex-direction:column; justify-content: flex-end; align-items:center;}
	.box5 >.tbox >.pattern {width:120px; height:30px; }
	.box5 >.tbox >.pattern > img {width:120px; height:30px;}
	.box5 >.tbox > h3 {text-align:center; font-size:34px; float:left; line-height:45px; font-family: Georgia,Times,"Times New Roman",serif; font-weight: bold; color: #fff;}
	.box5 >.tbox > h3 > span {font-size:22px; color:#dba94b; font-family: 'Great Vibes', cursive; font-size:32px; font-weight: normal;}
	.content4 >.box6  {width:100%; height:250px;  display:flex; }
	.content4 >.box6 >.photo {width:16.666%; height:100%;  background-color:#212435;}
	.content4 >.box6 >.photo > img {width:100%; height:100%;}




	.content5 {width:100%; height:1000px; margin:0 auto; background-color: #fff;}
	.content5 >.tbox {width:1260px; height:300px; margin:0 auto; display: flex; flex-direction:column; justify-content: flex-end; align-items:center;}
	.content5 >.tbox >.pattern {width:120px; height:30px; }
	.content5 >.tbox >.pattern > img {width:120px; height:30px;}
	.content5 >.tbox > h3 {text-align:center; font-size:34px; float:left; line-height:45px; font-family: Georgia,Times,"Times New Roman",serif; font-weight: bold;}
	.content5 >.tbox > h3 > span {font-size:22px; color:#dba94b; font-family: 'Great Vibes', cursive; font-size:32px; font-weight: normal;}
	.content5 >.tbox > p {font-size:14px;  text-align:center; margin:10px 0 30px 0;  }
	.content5 >.box7 {width:1260px; height:700px; margin:0 auto; display: flex; justify-content:center; align-items:center;}
	.content5 >.box7 >.team {width:370px; height:600px;  margin:3% 1%;}
	.content5 >.box7 >.team >.photo {width:100%; height:450px;}
	.content5 >.box7 >.team >.photo > img {width:100%; height: 100%;}
	.content5 >.box7 >.team >.text {width:100%; text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center;  }
	.content5 >.box7 >.team >.text > h3 {margin:20px 0 0 0; font-size: 18px;  font-family: Georgia,Times,"Times New Roman",serif; font-weight: bold; }
	.content5 >.box7 >.team >.text > h3 > span {font-size: 18px; color:#dba94b;  font-family: 'Great Vibes', cursive; font-weight: normal; }
	.content5 >.box7 >.team >.text > div {width:100%; height:50px; margin:15px 0; display: flex; justify-content: center; align-items: center; }
	.content5 >.box7 >.team >.text > div >.icon {background-color: #dba94b; width:35px; height:35px; margin:1%; border-radius: 5px;}
	.content5 >.box7 >.team >.text > div >.icon > a > img {width:60%; height: 60%; margin:8px 5px;}



	.content6 {background-color:#fff9ee; width:100%; height:850px; margin:0 auto;}
	.content6 >.tbox {width:1260px; height:300px; margin:0 auto; display: flex; flex-direction:column; justify-content: flex-end; align-items:center;}
	.content6 >.tbox >.pattern {width:120px; height:30px; }
	.content6 >.tbox >.pattern > img {width:120px; height:30px;}
	.content6 >.tbox > h3 {text-align:center; font-size:34px; float:left; line-height:45px; font-family: Georgia,Times,"Times New Roman",serif; font-weight: bold;}
	.content6 >.tbox > h3 > span {font-size:22px; color:#dba94b; font-family: 'Great Vibes', cursive; font-size:32px; font-weight: normal;}
	.content6 >.tbox > p {font-size:14px;  text-align:center; margin:10px 0 30px 0; }


	.content6 >.box8 {width:1260px; height: 450px; margin:0 auto; display: flex; flex-direction: row;}
	.content6 >.box8 >.image {width:400px; height: 380px; background-color: gold; margin:1%; border-radius: 5px;}
	.content6 >.box8 >.image >.photo {width:100%; height: 100%; border-radius:5px; overflow: hidden;}
	.content6 >.box8 >.image >.photo > img {width:150%; height:100%; margin:0 auto; border-radius: 5px;}
	.content6 >.box8 >.image >.photo > img:hover { opacity: 0.8; transition:all 0.3s;}
	.content6 >.box8 >.image >.text {color:#fff; position:relative; left:0; bottom: 150px; padding:20px; background-color:#212435; opacity: 0.8; width:80%;} 
	.content6 >.box8 >.image >.text > h3 {margin:25px 0 0 0; font-size: 16px; font-family: Georgia,Times,"Times New Roman",serif;}
	.content6 >.box8 >.image >.text >span {font-size:14px; color:#dba94b; font-family: Georgia,Times,"Times New Roman",serif;}




	.content7 {width:100%; height:500px; margin:0 auto; background:radial-gradient(rgba(5, 5, 30, 0.8), rgba(5, 5, 30, 0.8)), url("../img/background4.jpg") fixed; background-size:cover;  background-position: center center; }
	.box9 >.tbox {width:1260px; height:250px; margin:0 auto; display: flex; flex-direction:column; justify-content: center; align-items:center;}
	.box9 >.tbox >.pattern {width:120px; height:30px; }
	.box9 >.tbox >.pattern > img {width:120px; height:30px;}
	.box9 >.tbox > h3 {text-align:center; font-size:34px; float:left; line-height:45px; font-family: Georgia,Times,"Times New Roman",serif; font-weight: bold; color: #fff;}
	.box9 >.tbox > h3 > span {font-size:22px; color:#dba94b; font-family: 'Great Vibes', cursive; font-size:32px; font-weight: normal;}

	.slide {width:100%; height: 250px; border-top:1px solid #333333; display: flex; flex-direction: row; justify-content: center;}
	.slide >.iconbox {width:10%; height: 15%; margin:50% 3%;}
	.slide >.iconbox > img {width: 100%; height: 100%;}



	.content8 {width:100%; height:1000px; margin:0 auto;}
	.content8 >.tbox {width:1260px; height:300px; margin:0 auto; display: flex; flex-direction:column; justify-content: flex-end; align-items:center;}
	.content8 >.tbox >.pattern {width:120px; height:30px; }
	.content8 >.tbox >.pattern > img {width:120px; height:30px;}
	.content8 >.tbox > h3 {text-align:center; font-size:34px; float:left; line-height:45px; font-family: Georgia,Times,"Times New Roman",serif; font-weight: bold; }
	.content8 >.tbox > h3 > span {font-size:22px; color:#dba94b; font-family: 'Great Vibes', cursive; font-size:32px; font-weight:normal;}
	.content8 >.tbox > p {font-size:14px;  text-align:center; margin:10px 0 30px 0; }

	.content8 >.box10 {width:1260px; height: 700px; margin:0 auto; display: flex; justify-content: center; }
	.content8 >.box10 >.review {width:45%; height:70%; background-color: #fff; border:1px solid #ccc; border-radius:10px; margin:5% 1%; display: flex; flex-direction: column; text-align: center; justify-content: center; align-items: center; padding:10px;}
	.content8 >.box10 >.review:hover {box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1) , -0 5px 20px rgba(0, 0, 0, 0.1); transition:all 0.5s; }
	.content8 >.box10 >.review >.photo {width:80px; height: 80px; overflow: hidden; border-radius: 15px; }
	.content8 >.box10 >.review >.photo > img {width:100%; height: 150%; border-radius: 15px;}
	.content8 >.box10 >.review >.text {margin:10%; font-family: Georgia,Times,"Times New Roman",serif;}
	.content8 >.box10 >.review >.text > h3 {font-size: 16px; color:#424D5C;}
	.content8 >.box10 >.review >.text > p {font-size: 14px; color:#7F98B4;}
	.content8 >.box10 >.review >.text > span {font-size:12px; font-weight:bold; color:#7F98B4;}
	.content8 >.box10 >.review >.text > span >.sp2 {font-size:14px; color:#424D5C;}


	footer {width:100%; height:980px; margin:0 auto; position: relative; }
	footer >.map { width:100%; height: 420px; margin:0 auto; position: relative; z-index: 1;}

	footer >.map > iframe {width: 100%; height: 450px; border:0;}

	footer >.contact {background:radial-gradient(rgba(5, 5, 30, 0.8), rgba(5, 5, 30, 0.8)), url("../img/footer.jpg") fixed; background-size:cover;  background-position: center center;  width:100%; height: 560px; margin:0 auto; position: relative; z-index: 1; display: flex; }

	footer >.contact >.c1 {width:250px; height: 350px; padding:20px; display: flex; flex-direction: column; position: absolute; top:0; left:50%; margin:0 0 0 -500px; z-index: 3;}
	footer >.contact >.c1 > h3 {color:#dba94b; font-size: 14px; margin:10px 0; font-family: Georgia,Times,"Times New Roman",serif;}
	footer >.contact >.c1 > span {color:#eee; font-size: 12px; background-color: #0F0E2C; width:200px; height:28px;  text-align: center; margin:2%; line-height: 25px; font-family: Georgia,Times,"Times New Roman",serif;}

	footer >.contact >.c2 { width:250px; height: 350px; padding:60px 20px 0 20px; position: absolute; top:0; left:50%; margin:0 0 0 250px; z-index: 3;}
	footer >.contact >.c2 > h3 {color:#dba94b; font-size: 14px; margin:15px 0; font-family: Georgia,Times,"Times New Roman",serif;}
	footer >.contact >.c2 > span {color:#eee; font-size: 12px; font-family: Georgia,Times,"Times New Roman",serif;}

	footer >.contact >.c3 {width:500px; height: 100px; display: flex; justify-content: center; align-items: center; position: absolute; top:50%; left:50%; margin:60px 0 0 -250px; }
	footer >.contact >.c3 >.photo {width:40px; height: 40px; border:3px solid #dba94b; margin: 1%; border-radius: 5px;}
	footer >.contact >.c3 >.photo > a > img {width: 60%; height: 60%; margin:5px 0 0 7px;}
	footer >.contact >.c3 >.photo:hover {background-color: #dba94b;}


	footer >.contact >.c4 {width:1260px; height: 120px; position: absolute; top:50%; left:50%; margin:160px 0 0 -630px; }
	footer >.contact >.c4 > p {text-align: center; font-size: 14px; color: #fff; margin:25px 0 0 0; font-family: Georgia,Times,"Times New Roman",serif;}
	footer >.contact >.c4 > p > span > a {color:#dba94b; text-decoration: none; line-height: 25px;}

	footer >.form {width:500px; height: 550px; border-radius:5px; border:8px solid #dba94b;  margin: 0 auto; background-color:#fff; position: absolute; top:50%; left: 50%;  z-index: 3; margin:-275px 0 0 -250px; padding: 20px;}
	footer >.form > h2 {margin:20px 0; color:#dba94b; font-size: 22px;  text-align: center; font-family: 'Great Vibes', cursive; font-size:32px;}



}






