@charset "utf-8";

*{margin:0;}
* ul,li,ol {list-style:none; margin:0; padding:0;}
a {text-decoration: none; color: #000;}

header { width:100%; height:250px; margin:0 auto;}
.top { width:1100px; height:200px; margin:0 auto;}
#login { width:290px; height:30px; float:right; margin:15px;}
#login > ul {font-size:12px; width: 100%; height: 100%; display: flex; justify-content: space-between; align-items: center;}

#login > ul > li > a {text-decoration:none; color:black;}
#login > ul > li > a:hover {color:gray;}


#login > ul > li > a > img {width:25px; height:25px; float:left; margin:0 10px;}


#event { float:left; margin:15px 0 0 20px; font-size:11px;}
#event > span { float:left; margin:15px 0 0 20px;}
#event > span > a {font-size:12px; font-weight:bold; text-decoration:none; color:black;}
#event > p {float:left; margin:15px 0 0 10px;}
#event > p > a { text-decoration:none; color:black;}

.top > #logo { float:left; margin:25px 0 50px 350px; }
nav {width:100%; height:45px; float:left; margin:0 auto; border-top:1px solid #ddd; position: relative;}
nav > div {width:1100px; height:50px; margin:0 auto;}
nav > div > ul {font-size:15px; font-weight:bold; margin:0;}
nav > div > ul > li {float:left; margin:18px 0 0 20px;  padding: 0 10px;}
nav > div > ul > li > a {text-decoration:none; color:black;}
nav > div > ul > li > a:hover {color:gray;}

.sub_menu {position: absolute; top: 50px; background-color: #fff; width: 110px; padding:15px; display: none;}
.sub_menu > li {margin: 0 0 10px 0; font-size: 12px; font-weight: normal; padding: 5px 0;}
.sub_menu > li:hover {background-color: #eee;}

footer {background-color:#eee; width:100%; height:480px; margin:0 auto;}

#contact {background-color:#fff; width:100%; height:250px; margin:0 auto; border-top:1px solid #eee;}
#contact > div {width:1100px; height:250px; margin:0 auto}

.about {width:260px; height:150px; float:left; margin:70px 20px 0 0;}
#contact > div >.about > h3 {font-size:12px; margin:0 0 10px 0;}
#contact > div >.about > h3 > a {text-decoration:none; color:#000;}
#contact > div >.about > ul >li {margin:10px 0; font-size:12px; text-decoration:none; color:#000;}
#contact > div >.about > ul >li > a {text-decoration:none; color:#000;}

.phone {width:260px; height:150px; float:left; margin:70px 20px 0 0;}
#contact > div >.phone > h3 {font-size:12px; margin:0 0 10px 0;}
#contact > div >.phone > h3 > a {text-decoration:none; color:#000;}
#contact > div >.phone > ul >li {margin:10px 0; font-size:12px; text-decoration:none; color:#000;}
#contact > div >.phone > ul >li > a {text-decoration:none; color:#000;}

.bank {width:260px; height:150px; float:left; margin:70px 20px 0 0;}
#contact > div >.bank > h3 {font-size:12px; margin:0 0 10px 0;}
#contact > div >.bank > h3 > a {text-decoration:none; color:#000;}
#contact > div >.bank > ul >li {margin:10px 0; font-size:12px; text-decoration:none; color:#000;}
#contact > div >.bank > ul >li > a {text-decoration:none; color:#000;}

.email {width:260px; height:150px; float:right; margin:70px 0 0 0;}
#contact > div >.email > h3 {font-size:12px; margin:0 0 10px 0;}
#contact > div >.email > h3 > a {text-decoration:none; color:#000;}
#contact > div >.email > ul >li {margin:10px 0; font-size:12px; text-decoration:none; color:#000;}
#contact > div >.email > ul >li > a {text-decoration:none; color:#000;}

footer > #box {width:1100px; height:200px; margin:0 auto;}
footer > #box > p {float:left; font-size:11px; color:gray; margin:30px 0 0 0; line-height:20px; }
